<main>
    <div class="row gy-5">

        <section class="col-12">
            <div class="card text-bg-dark">
                <img class="card-img-top" src="https://picsum.photos/400/200" 
                alt="Product photo">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Product <br>#16433</h5>
                    <p>Card title</p>
                    <a href="#" class="btn btn-primary">Open</a>
                </div>
            </div>  
        </section>
    


        <br>
        <br>
        <br>
        <div class="card">
            <div class="card-header">
                <h5>Menu</h5>           
        </div>
        
        <ul class="list-group">
            <li class="list-group-item">Item 1
                <a href="#" class="btn btn-link">Home page</a>
            </li>
            <li class="list-group-item">Item 2
                <a href="#" class="btn btn-link">Summary page</a>
            </li>
            <li class="list-group-item">Item 3
                <a href="#" class="btn btn-link">Skills page</a>
            </li>
        </ul>

        <div class="card-footer">
            <button class="btn btn-dark btn-sn">Update list</button>
        </div>
    </div>

    <br>
    <br>

    <table class="table table-bordered">  (table table-striped)
        <thaed>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thaed>

        <tbody>
            <tr>
                <th>1</th>
                <td>John</td>
                <td>35</td>
            </tr>
        </tbody>
    </table>

    <div class="card text-bg-success"> 
        <div class="card-header">Header</div>
        <div class="card-body">
            <h6 class="card-title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click!</button>
        </div>
    </div>

    <br>
    <br>
    

    <div class="row">
        <div class="col-5">
            <div class="card text-bg-warning"> 
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card text-bg-warning"> 
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
            </div>
        </div>

</main>

<hr>
<hr>

{{!-- //========================================================================== --}}
<main class="p-5">
    <div class="row g-4">
        <div class="col-12 mb-5">                           
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link active">Main</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Catalog</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Shop list</a>
                </div>
            </div>        
    </div>
            
        <div class="col-5 pe-5">
            <div class="card">
                <div class="pt-4 pb-3 px-4">
                    <div class="nav flex-column">
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/summary" class="nav-link">Home page</a>
                            </div>                                
                        </div>
                        <br>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link">Bootstrap</a>
                            </div>                                
                        </div>
                        <br>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/skills" class="nav-link">FAQ page</a>
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-7">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">PC and Laptop</a>
                        </li>
                        <li class="breadcrumb-item">
                            Macbook
                        </li>
                    </ol>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary rounded-pill mb-3">Click me!</button>

                    <div class="alert alert-dark">
                        <h6 class="m-0">
                            Hello world! <span class="badge text-bg-warning rounded pill text-uppercase">
                                Top sales</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</main>