{{#with group}}
    <div class="mt-3">
        Name: {{name}}
    </div>
    <div class="mt-1">
        Description: {{description}}
    </div>
    <div class="mt-1">
        ID: {{id}}
    </div>
    {{#if members}}
        <div class="mt-3">          
            <em><b>Members:</b></em>
        </div>
        {{#each members}}
            <ul>
                <li>
                    {{> user user=this}}
                </li>
            </ul>
        {{/each}}
    {{/if}}
{{/with}}